.bg {
  background-image: url("./images/pexels-moose-photos-1586973.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.bgContent3 {
  background-image: url("../app/images/Group-40.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}

.bgColorContent3 {
  background-color: #1f4b3f;
}

.listItem {
  list-style: none;
  padding-left: 20px;
  position: relative;
  margin-bottom: 10px;
}

.listItem:before {
  content: "\F26B";
  font-family: "bootstrap-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 5px;
  padding-top: 10px;
  position: absolute;
  left: 0;
}

@media (min-width: 992px) {
  .homePageContent1 {
    position: absolute;
    bottom: 30%;
  }
}
